@media only screen and (max-width: 414.98px){
      /* banner part */
      .navbar-toggler {
        padding: 5px 12px;
        color: #fff;
        background-color: transparent;
        border: 1px solid #fff;
        border-radius: 16px;
        transition: 0.5s;
        margin-right: 20px;
        text-align: center;
        line-height: 15px;
      }
      .navbar-toggler:focus {
            text-decoration: none;
            outline: 0;
            box-shadow: none;
      }
      .navbar-toggler .navbar-toggler-icon {
            display: inline;
            font-size: 20px;
            padding: 0;
      }
      .menu .logo{
            margin-left: 20px;
      }
      .menu ul{
            display: block;
            width: 400px;
            background-color: #222;
            text-align: center;
            padding-bottom: 20px;
      }
      .menu ul li a{
            border-bottom: 1px solid #ffffffb3;
            width: 60%;
      }
      .menu ul li .nav-btn{
            border: none;
            margin-top: 10px;
      }
/* banner part start */
#banner .banner-text {
	text-align: center;
      padding-top: 0;
}
#banner .banner-text h2 {
	font-size: 32px;
	font-weight: 600;
	width: 270px;
	margin: 0 auto;
}
#banner .banner-text p {
	width: 350px;
	margin: 0 auto;
      padding: 0;
	padding-top: 20px;
}
#banner .banner-text .ban-btn .btnn {
	margin-right: 20px;
}
#banner .banner-img {
	width: 350px;
	margin-left: 36px;
}

/* work part start */
#work {
	padding: 50px 0 40px;
} 
#work .work-text{
      text-align: center;
}
#work .work-text h2 {
	font-size: 30px;
}
#work .work-text p {
	font-size: 14px;
      margin: 0 auto;
} 
#work .work-plat{
      padding-left: 15px;
}
#work .work-plat p {
      padding-right: 0;
	font-size: 16px;
	line-height: 1.7;
	padding-top: 10px;
      padding-right: 10px;
}
#work .work-text .work-link a {
	font-size: 14px;
	margin: 10px 0 20px;
}
#work .work-plat h4 {
	font-size: 24px;
}
 /* project part start */
 #project {
	padding: 50px 0;
}
#project .project-head h3 {
	font-size: 24px;
}
#project .project-head{
      text-align: center;
}
#project .project-head-link{
      margin-top: 50px;
}
#project .pro-img1 {
	margin-top: 10px;
}
#project .pro-img1 .pro-img1-overlay h3 {
	left: 12px;
	font-size: 18px;
}
#project .pro-img1 .pro-img1-overlay p {
	left: 12px;
	font-size: 14px;
	padding-right: 0px;
      bottom: 70px;
      line-height: 1.5;
}
#project .pro-img1 .pro-img1-overlay a {
	position: absolute;
	left: 25px;
	bottom: 36px;
	font-size: 14px;
	left: 12px;
}
/* service part start */
#service {
	padding: 50px 0;
}
#service .service-head h2 {
	width: 372px;
	font-size: 32px;
}
/* testimonial part start */
#testimonial {
      padding: 0 0 20px;
}
.testi-nav{
      margin-bottom: 30px;
      text-align: center;
}
#testimonial .testi-menu h5 {
	font-size: 24px;
	line-height: 1.4;
      text-align: center;
}
#testimonial .testi-nav h4 {
	font-size: 28px;
	width: 350px;
	margin: 0 auto;
}
#testimonial .testi-nav p {
	width: 300px;
	margin: 0 auto;
}
#testimonial .testi-menu .testi-clint {
	margin-left: 15px;
}
/* accordion part start */
#accordion {
	padding: 45px 0;
}
.frequently-head{
      text-align: center;
      margin-bottom: 50px;
}
#accordion .frequently-head .frequently-btn {
	margin-top: 12px;
}
#accordion .accordion-header .accordion-button {
	font-size: 18px;
	font-weight: 600;
	color: #222;
	padding: 15px 20px;
	margin: 10px 0;
	position: relative;
}
#accordion .accordion-body p {
	margin-left: 51px;
	width: 300px;
}

/* inquery part start */
#inquiry .inquiry-img .inquiry-img-overlay .inq-overlay-text {
	top: 46%;
}
#inquiry .inquiry-img .inquiry-img-overlay .inq-overlay-text h3 {
	font-size: 35px;
      letter-spacing: 0.5px;
      width: 335px;
}
#inquiry .inquiry-img .inquiry-img-overlay .inq-overlay-text p {
	width: 338px;
}
#inquiry .inquiry-from .inquiry-btn {
	margin: 20px auto 30px;
}
/* blog part start */
#blog {
	padding: 0px;
}
#blog .blog-head {
	text-align: center;
}
#blog .blog-text{
      margin-bottom: 20px;
}
/* footer part start */
#footer {
	padding: 80px 0 30px;
}
.footer-logo{
      text-align: center;
}
#footer .footer-logo p {
	margin: 0 auto;
}
#footer .contact-box {
	width: 365px;
      margin: 0 auto;
	margin-top: 35px;
      margin-bottom: 20px;
}
.fotter-talk{
      text-align: center;
}
#footer .fotter-talk p {
	width: 365px;
	margin: 0 auto;
}
   
    
}






@media only screen and (min-width: 576px) and (max-width: 767.98px){
  
}






@media only screen and (min-width: 768px) and (max-width: 991.98px){
    
}







@media only screen and (min-width: 992px) and (max-width: 1199.98px){
}
@media only screen and (min-width: 1200px) and (max-width: 1399.98px){
    
}
@media only screen and (min-width: 1400px){
    
}