@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Titillium+Web:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  scroll-behavior: smooth;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
}

.menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.menu .logo {
  color: #fff;
  font-size: 25px;
}
.menu ul {
  align-items: center;
}
.menu ul li .nav-btn button {
  font-size: 16px;
  font-family: popons;
  font-weight: 500;
  border: none;
  text-transform: capitalize;
  border: 1px solid rgba(255, 255, 255, 0.5607843137);
  padding: 5px 20px;
  border-radius: 30px;
  background-color: transparent;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  color: #fff;
}
.menu ul li a {
  font-size: 16px;
  font-family: popins;
  font-weight: 500;
  line-height: 28px;
  text-transform: capitalize;
  color: #fff;
  font-family: "Titillium Web", sans-serif;
  display: inline-block;
}
.menu ul li :hover {
  color: #fff;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 30px;
  width: 30px;
  background-color: #1c1e53;
  color: #fff;
  font-family: 15px;
  text-align: center;
  line-height: 30px;
  z-index: 999;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 1px solid #fff;
}

.back-to-top::after {
  position: fixed;
  content: "Back to top";
  height: 18px;
  width: 68px;
  right: 22px;
  bottom: 55px;
  font-size: 12px;
  color: #222;
  background-color: #fff;
  line-height: 18px;
  opacity: 0;
  margin-right: -95px;
  transition: 0.5s;
}

.back-to-top:hover::after {
  opacity: 1;
  margin-right: 0;
}

.sticky {
  position: fixed;
  background-color: #1c1e53;
  z-index: 999;
  padding: 0;
  animation: sticky 0.8s;
  -webkit-animation: sticky 0.8s;
}

@keyframes sticky {
  0% {
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
#banner {
  background: #1C1E53;
  padding: 118px 0;
  position: relative;
}
#banner .banner-text {
  padding-top: 60px;
}
#banner .banner-text h2 {
  font-size: 54px;
  color: #fff;
  font-family: "Titillium Web", sans-serif;
}
#banner .banner-text p {
  font-size: 16px;
  color: #fff;
  padding-right: 50px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.7;
}
#banner .banner-text .ban-btn {
  margin-top: 50px;
}
#banner .banner-text .ban-btn .btnn {
  font-size: 16px;
  padding: 10px 20px;
  background-color: #FCD980;
  color: #222;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  margin-right: 60px;
}
#banner .banner-text .ban-btn a {
  color: #fff;
  padding-right: 10px;
}
#banner .banner-text .ban-btn i {
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
}
#banner .banner-img {
  padding-top: 65px;
  width: 520px;
}
#banner .banner-img img {
  width: 100%;
}

#work {
  padding: 100px 0 40px;
  background-color: #F4F6FC;
}
#work .work-text h2 {
  font-size: 38px;
  font-weight: 600;
  color: #222;
}
#work .work-text p {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #222;
  line-height: 1.7;
  padding: 8px 0;
  display: inline-block;
  width: 365px;
}
#work .work-text .work-link a {
  font-size: 16px;
  color: #2405F2;
  font-weight: 500;
}
#work .work-plat {
  margin-bottom: 40px;
}
#work .work-plat h4 {
  font-size: 30px;
  font-weight: 600;
  padding-top: 10px;
}
#work .work-plat p {
  padding-right: 38px;
  font-size: 16px;
  line-height: 1.7;
  padding-top: 10px;
}
#work .work-plat img {
  width: 40px;
}

#project {
  padding: 80px 0;
}
#project .project-head h3 {
  font-size: 32px;
  text-transform: capitalize;
  font-weight: 600;
  color: #222;
}
#project .project-head-link a {
  color: #222;
  font-size: 16px;
}
#project .project-head-link a i {
  margin-left: 8px;
}
#project .pro-img1 {
  position: relative;
  margin-top: 50px;
  overflow: hidden;
}
#project .pro-img1 .pro-img1-overlay {
  position: absolute;
  left: -47%;
  top: 0;
  height: 100%;
  width: 47%;
  background: linear-gradient(329.39deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
  opacity: 0;
  transition: 0.5s;
}
#project .pro-img1 .pro-img1-overlay h3 {
  position: absolute;
  left: 25px;
  bottom: 175px;
  font-size: 25px;
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 0.8px;
  display: block;
}
#project .pro-img1 .pro-img1-overlay p {
  position: absolute;
  left: 25px;
  bottom: 80px;
  font-size: 16px;
  color: #fff;
  line-height: 1.7;
  padding-right: 55px;
  letter-spacing: 0.5px;
}
#project .pro-img1 .pro-img1-overlay a {
  position: absolute;
  left: 25px;
  bottom: 45px;
  font-size: 16px;
  color: #FCD980;
}
#project .pro-img1 img {
  width: 100%;
}
#project .pro-img1:hover .pro-img1-overlay {
  opacity: 1;
  left: 0%;
}
#project .pro-img2 {
  margin-top: 50px;
  position: relative;
}
#project .pro-img2 .pro-img2-overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(329.39deg, #1C1E53 -10.96%, rgba(28, 30, 83, 0.42) 103.96%);
  opacity: 0;
  transition: 0.5s;
}
#project .pro-img2 .pro-img2-overlay h4 {
  position: absolute;
  left: 40px;
  bottom: 80px;
  font-size: 18px;
  color: #fff;
}
#project .pro-img2 .pro-img2-overlay p {
  position: absolute;
  left: 40px;
  bottom: 45px;
  font-size: 18px;
  color: #fff;
  line-height: 1.7;
}
#project .pro-img2 .pro-img2-overlay a {
  position: absolute;
  left: 40px;
  bottom: 25px;
  font-size: 14px;
  color: #FCD980;
}
#project .pro-img2 img {
  width: 100%;
}
#project .pro-img2 :hover {
  opacity: 1;
}
#project .pro-img3 {
  margin-top: 24px;
}
#project .pro-img3 img {
  width: 100%;
}

#service {
  padding: 70px 0;
  background-color: #F4F6FC;
}
#service .service-head h2 {
  width: 485px;
  font-size: 40px;
  font-weight: 600;
  margin: 0 auto;
  letter-spacing: 1px;
  padding-bottom: 22px;
}
#service .service-head p {
  font-size: 16px;
  font-weight: 500;
}
#service .service-card {
  background-color: #ffffff;
  padding: 35px;
  margin: 10px 10px;
}
#service .service-card i {
  font-size: 24px;
  color: #2405F2;
}
#service .service-card h4 {
  font-size: 20px;
  font-weight: 600;
  padding: 10px 0;
}
#service .service-card p {
  font-size: 14px;
  line-height: 1.7;
  color: #282938;
  font-family: "open sans";
}

#testimonial {
  background-color: #eef0f5;
  padding: 50px 0;
}
#testimonial .testi-nav h4 {
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  color: #222;
  letter-spacing: 0.5px;
  padding-bottom: 16px;
}
#testimonial .testi-nav p {
  font-size: 15px;
  line-height: 1.7;
  color: #282938;
  width: 300px;
}
#testimonial .testi-menu h5 {
  font-size: 32px;
  font-weight: 600;
  color: #222;
}
#testimonial .testi-menu .testi-clint {
  margin-top: 35px;
  width: 60px;
  display: inline-block;
}
#testimonial .testi-menu .testi-clint img {
  width: 100%;
  border-radius: 50%;
}
#testimonial .testi-menu .clint-name {
  display: inline-block;
  position: absolute;
  margin-top: 35px;
}
#testimonial .testi-menu .clint-name p {
  font-size: 16px;
  color: #222;
  text-transform: capitalize;
  font-weight: 600;
  padding-left: 15px;
  line-height: 1.5;
}
#testimonial .testi-menu .clint-name span {
  font-size: 14px;
  color: #222;
  text-transform: capitalize;
  padding-left: 15px;
}
#testimonial .slick-list {
  padding: 0 !important;
}

#accordion {
  padding: 100px 0;
}
#accordion .frequently-head h3 {
  font-size: 32px;
  font-weight: 600;
  color: #222;
  text-transform: capitalize;
  line-height: 1.3;
}
#accordion .frequently-head .frequently-btn {
  margin-top: 22px;
  font-size: 16px;
  color: #2405F2;
}
#accordion .accordion-header span {
  margin-right: 28px;
  font-size: 20px;
  color: #2405F2;
}
#accordion .accordion-header .accordion-button {
  font-size: 18px;
  font-weight: 600;
  color: #222;
  padding: 22px 0 18px;
  margin: 10px 0;
  position: relative;
}
#accordion .accordion-header .acc-btn {
  padding-top: 0;
}
#accordion .accordion-body {
  padding: 0 18px 18px;
}
#accordion .accordion-body p {
  line-height: 1.7;
  font-size: 16px;
  width: 500px;
  margin-left: 28px;
}
#accordion .accordion-button:focus {
  box-shadow: none;
}
#accordion .accordion-button:not(.collapsed) {
  background-color: transparent;
  color: #222;
  box-shadow: none;
}
#accordion .acc-btn {
  padding-top: 0 !important;
}
#accordion .accordion-item {
  color: #222;
  letter-spacing: 0.5px;
  border: none;
  border-bottom: 2px solid #ECECF1;
}
#accordion .accordion-item .accordion-button:not(.collapsed)::after {
  background-image: url(../images/free-minus-icon-3108-thumb.png);
  background-position: center;
  background-size: 14px;
}
#accordion .accordion-item .accordion-button::after {
  background-image: url(../images/Plus_symbol.svg.png);
  background-position: center;
  background-size: 27px;
}

#inquiry {
  margin: 0 0 15px;
}
#inquiry .inquiry-img {
  position: relative;
}
#inquiry .inquiry-img img {
  width: 100%;
}
#inquiry .inquiry-img .inquiry-img-overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(28, 30, 83, 0.5);
}
#inquiry .inquiry-img .inquiry-img-overlay .inq-overlay-text {
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  left: 14%;
}
#inquiry .inquiry-img .inquiry-img-overlay .inq-overlay-text h3 {
  font-size: 48px;
  color: #fff;
  font-weight: 600;
  width: 370px;
  margin: 0;
}
#inquiry .inquiry-img .inquiry-img-overlay .inq-overlay-text p {
  color: #fff;
  width: 400px;
  padding-top: 25px;
  font-size: 16px;
}
#inquiry .inquiry-from {
  background-color: #1C1E53;
  height: 100%;
  text-align: center;
}
#inquiry .inquiry-from .from-head {
  width: 365px;
  margin: 0 auto;
  padding-top: 85px;
}
#inquiry .inquiry-from .from-head h4 {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
}
#inquiry .inquiry-from .from-head p {
  font-size: 16px;
  color: #fff;
  padding: 15px 0 25px;
  line-height: 1.7;
}
#inquiry .inquiry-from .input-box {
  width: 365px;
  margin: 0 auto;
}
#inquiry .inquiry-from .input-box input {
  color: #F4F6FC;
  display: block;
  padding: 15px 0;
  margin-bottom: 12px;
  width: 365px;
  padding-left: 15px;
  background-color: transparent;
  border: 1.5px solid rgba(255, 255, 255, 0.05);
  border-radius: 8px;
}
#inquiry .inquiry-from .inquiry-btn {
  margin: 20px auto 20px;
  text-align: center;
  display: inline-block;
}
#inquiry .inquiry-from .inquiry-btn .sent-btn {
  font-size: 16px;
  color: #222;
  background-color: #FCD980;
  padding: 10px 126px;
  display: block;
  border-radius: 41px;
  -webkit-border-radius: 41px;
  -moz-border-radius: 41px;
  -ms-border-radius: 41px;
  -o-border-radius: 41px;
}
#inquiry .inquiry-from .inquiry-btn .get-link {
  font-size: 18px;
  color: #fff;
  margin-top: 20px;
}
#inquiry .inquiry-from .inquiry-btn .get-link i {
  margin-left: 10px;
}

#blog {
  padding: 40px 0;
}
#blog .blog-head {
  padding: 40px 0 40px;
}
#blog .blog-head h2 {
  font-size: 35px;
  font-weight: 600;
  color: #222;
  text-transform: capitalize;
}
#blog .blog-plate {
  margin: 0 10px;
}
#blog .blog-plate .blog-img {
  padding-bottom: 15px;
}
#blog .blog-plate .blog-img img {
  width: 100%;
}
#blog .blog-plate .blog-text span {
  font-size: 16px;
  color: #282938;
}
#blog .blog-plate .blog-text h5 {
  padding-top: 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
  font-family: "Poppins", sans-serif;
}
#blog .blog-plate .blog-text p {
  font-size: 16px;
  color: #282938;
  padding: 15px 0 0;
  line-height: 28px;
  padding-right: 10px;
}
#blog .blog-plate .blog-text .blog-link .btn {
  padding: 20px 0 0;
  color: #222;
  font-size: 16px;
}
#blog .blog-plate .blog-text .blog-link .card-body {
  padding: 0;
  line-height: 28px;
}
#blog .blog-plate .blog-text .blog-link .card {
  border: none;
}

#footer {
  background-color: #1C1E53;
  padding: 80px 0 0;
}
#footer .footer-logo a {
  font-size: 30px;
  color: #fff;
}
#footer .footer-logo p {
  width: 365px;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  padding: 20px 0;
}
#footer .contact-box {
  background-color: #FCD980;
  display: flex;
  width: 365px;
  margin-top: 60px;
  padding: 15px 30px;
  color: #222;
  text-transform: capitalize;
}
#footer .contact-box .con-adress1 {
  padding-right: 20px;
  line-height: 30px;
}
#footer .contact-box .con-adress1 a {
  color: #222;
}
#footer .contact-box .con-adress1 h6 {
  padding-bottom: 5px;
}
#footer .contact-box .con-adress h6 {
  padding-bottom: 5px;
}
#footer .fotter-talk h3 {
  font-size: 30px;
  font-family: 700;
  color: #fff;
}
#footer .fotter-talk p {
  width: 365px;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  padding: 20px 0;
}
#footer .fotter-talk .footer-icon {
  margin-top: 15px;
}
#footer .fotter-talk .footer-icon i {
  font-size: 20px;
  color: #fff;
  margin-left: 15px;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */